$primary-font: 'Rubik', sans-serif;

$title-color: #0B132A;
$text-color: #4F5665;
$text-light-color: #AFB5C0;

$primary-color: #F53838;
$pink-color: #F53855;
$border-color: #DDDDDD;
$yellow-color: #FEA250;

$wrapper: 1440px;
$container: 1140px;