section.about
  .container
    .about-container
      .about-item
        .about-item-left 
          i.fa.fa-user.about-icon
        .about-item-right 
          h3.about-number 90+
          span.about-content Users
      .about-item
        .about-item-left 
          i.fa.fa-user.about-icon
        .about-item-right 
          h3.about-number 90+
          span.about-content Users
      .about-item
        .about-item-left 
          i.fa.fa-user.about-icon
        .about-item-right 
          h3.about-number 90+
          span.about-content Users


