section.customer 
  .container 
    +blockBox("Trusted by Thousands of Happy Customer", "These are the stories of our customers who have joined us with great pleasure when using this crazy feature.")
    .customer-container 
      .customer-list 
        .customer-item 
          .customer-item-top 
            .customer-user 
              img.customer-avatar(src="images/customer1.jpg" alt="")
              .customer-info 
                h4.customer-name Viezh Robert
                p.customer-country Warsaw, Poland
            .customer-rate 
              span.customer-rate-number 4.5
              img.customer-rate-star(src="images/star.png" alt="")
          .customer-item-bottom 
            p.customer-comment “Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best”.
        .customer-item 
          .customer-item-top 
            .customer-user 
              img.customer-avatar(src="images/customer2.jpg" alt="")
              .customer-info 
                h4.customer-name Yessica Christy
                p.customer-country Shanxi, China
            .customer-rate 
              span.customer-rate-number 4.5
              img.customer-rate-star(src="images/star.png" alt="")
          .customer-item-bottom 
            p.customer-comment “I like it because I like to travel far and still can connect with high speed.”.
        .customer-item 
          .customer-item-top 
            .customer-user 
              img.customer-avatar(src="images/customer3.jpg" alt="")
              .customer-info 
                h4.customer-name Kim Young Jou
                p.customer-country Seoul, South Korea
            .customer-rate 
              span.customer-rate-number 4.5
              img.customer-rate-star(src="images/star.png" alt="")
          .customer-item-bottom 
            p.customer-comment “This is very unusual for my business that currently requires a virtual private network that has high security.”.
        .customer-item 
          .customer-item-top 
            .customer-user 
              img.customer-avatar(src="images/customer1.jpg" alt="")
              .customer-info 
                h4.customer-name Viezh Robert
                p.customer-country Warsaw, Poland
            .customer-rate 
              span.customer-rate-number 4.5
              img.customer-rate-star(src="images/star.png" alt="")
          .customer-item-bottom 
            p.customer-comment “Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best”.