section.feature
  .container
    .feature-container
      .feature-img
        img(src="images/feature.jpg", alt="alt")
      .feature-content
        h2.feature-title We Provide Many Features You Can Use
        p.feature-desc You can explore the features that we provide with fun and have their own functions each feature.
        ul.feature-list
          li.feature-item
            img(src="images/feature-icon.png", alt="alt")
            p.feature-text Powerfull online protection.
          li.feature-item
            img(src="images/feature-icon.png", alt="alt")
            p.feature-text Internet without borders.
          li.feature-item
            img(src="images/feature-icon.png", alt="alt")
            p.feature-text Supercharged VPN
          li.feature-item
            img(src="images/feature-icon.png", alt="alt")
            p.feature-text No specific time limits.