footer.footer 
  .container
    .footer-container
      .footer-left 
        img.footer-logo(src="images/Logo.png" alt="")
        .footer-desc <span>LaslesVPN</span> is a private virtual network that has unique features and has high security.
        .footer-socials 
          a.footer-socials-link(href="") 
            i.fab.fa-facebook-f
          a.footer-socials-link(href="") 
            i.fab.fa-twitter
          a.footer-socials-link(href="") 
            i.fab.fa-instagram
        p.footer-copyright ©2020Lasles<span>VPN</span> 
      .footer-right 
        .footer-column 
          h4.footer-title Product
          .footer-item
            a.footer-link(href="#") Download  
          .footer-item
            a.footer-link(href="#") Pricing
          .footer-item
            a.footer-link(href="#") Locations
          .footer-item
            a.footer-link(href="#") Server
          .footer-item
            a.footer-link(href="#") Countries 
          .footer-item
            a.footer-link(href="#") Blog
        .footer-column 
          h4.footer-title Engage
          .footer-item
            a.footer-link(href="#") LaslesVPN ?  
          .footer-item
            a.footer-link(href="#") FAQ
          .footer-item
            a.footer-link(href="#") Tutorials 
          .footer-item
            a.footer-link(href="#") About Us 
          .footer-item
            a.footer-link(href="#") Privacy Policy 
          .footer-item
            a.footer-link(href="#") Terms of Service
        .footer-column 
          h4.footer-title Earn Money
          .footer-item
            a.footer-link(href="#") Affiliate
          .footer-item
            a.footer-link(href="#") Become Partner
