section.network 
  .container 
    +blockBox("Huge Global Network of Fast VPN", "See LaslesVPN everywhere to make it easier for you when you move locations.")
    .network-content 
      img(src="images/network.png" alt="") 

section.partner 
  .container 
    .partner-container 
      img(src="images/netflix.png" alt="")
      img(src="images/reddit.png" alt="")
      img(src="images/amazon.png" alt="")
      img(src="images/discord.png" alt="")
      img(src="images/spotify.png" alt="")