section.plan
  .container 
    .plan-container 
      +blockBox("Choose Your Plan", "Let's choose the package that is best for you and explore it happily and cheerfully.")
      .plan-content 
        +planItem("Free Plan")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Encrypted Connection")
          +planFeature("No Traffic Logs")
          +planFeature("Works on All Devices")
        +planItem("Standard Plan", "$9")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Encrypted Connection")
          +planFeature("Yes Traffic Logs")
          +planFeature("Works on All Devices")
          +planFeature("Connect Anyware")
        +planItem("Premium Plan", "$12")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Encrypted Connection")
          +planFeature("Yes Traffic Logs")
          +planFeature("Works on All Devices")
          +planFeature("Connect Anyware")
          +planFeature("Get New Features")
        