section.plan
  .container 
    .plan-container 
      +blockBox("Choose Your Plan", "Let's choose the package that is best for you and explore it happily and cheerfully.")
      .plan-content 
        +planItem("Unlimited Bandwitch")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Unlimited Bandwitch")
        +planItem("Unlimited Bandwitch", "$9")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Unlimited Bandwitch")
        +planItem("Unlimited Bandwitch", "$12")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Unlimited Bandwitch")
          +planFeature("Unlimited Bandwitch")
        