section.subcribe 
  .container 
    .subcribe-container 
      .subcribe-content 
        h3.subcribe-title Subscribe Now for Get Special Features!
        p.subcribe-desc Let's subscribe with us and find the fun.
      button.btn.btn--third.subcribe-btn Subscribe Now