.header {
  padding-top: 4.5rem;
  &-container {
    @include flexBox(center, space-between);
  }
  // &-menu {
  //   &-item {
  //     transition: color 0.25s linear;
  //   }
  //   // &-item:hover {
  //   //   color: $pink-color;
  //   // }
  // }
  &-signIn {
    color: $title-color;
    font-weight: 500;
    margin-right: 3rem;
    transition: color 0.25s linear;
    margin-left: 15rem;
    &:hover {
      color: $pink-color;
    }
  }
  &-signUp {
    font-size: 1.6rem;
    color: $pink-color;
    font-weight: 500;
    padding: 1.3rem 4.5rem;
    border: 1px solid $pink-color;
    border-radius: 9999px;
    transition: all 0.25s linear;
    &:hover {
      background-color: $pink-color;
      color: white;
    }
  }
  &-toggle {
    display: none;
    font-size: 2.6rem;
    color: $primary-color;
  }

  @include maxWidth(1279px) {
    &-signIn {
      margin-left: 8rem;
    }
  }
 
  @include maxWidth(1023px) {
    &-list {
      // display: none;
      height: 100%;
      width: 80%;
      background-color: white;
      z-index: 10;
      position: fixed;
      top: 0;
      right: 0;
      // display: block;
      padding: 2rem 2.5rem;
      transform: translateX(100%);
      transition: transform 0.25s linear;
      &.is-expand {
        transform: translateX(0);
        box-shadow: 0px 3px 20px rgba($primary-color, 0.8);
      }
    }
    &-menu {
      &-item {
        margin-bottom: 1.5rem;
        padding: 2rem 2.5rem;
        border-radius: 1rem;
        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }
    &-buttons {
      margin-left: 2.5rem;
    }
    &-signIn {
      margin: 0 0 3rem 0;
      display: block;
    }
    &-toggle {
      display: block;
    }
  }
  @include minWidth(1024px) {
    &-list {
      display: flex;
    }
    &-menu {
      @include flexBox(center, space-between);
      &-item:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }
  @media (hover: hover){
    &-menu{
      &-item{
        transition: all .25s;
        position: relative;
        &:hover{
          color: $primary-color;
          &::after{
            width: 100%;
            left: 0;
            right: auto;
          }
        }
        &::after{
          transition: all .25s;
          content: "";
          position: absolute;
          bottom: -10px;
          left: auto;
          right: 0;
          display: inline-block;
          width: 0;
          height: 3px;
          background-color: $primary-color;
        }
      }
    }
  }
}
