.plan {
  display: block;
  padding: 8rem 0 15rem;
  &-content {
    @include flexBox(stretch, space-between);
    gap: 0 5rem;
    flex-wrap: wrap;
    padding: 0 2.5rem;
  }
  &-item {
    // width: 33.33%;
    border: 2px solid $border-color;
    border-radius: 10px;
    text-align: center;
    padding: 8rem 7rem 5rem;
    @include flexBox(start, space-between, column);
    transition: all 0.25s;
    &:hover {
      border-color: $primary-color;
    }
  }
  &-img {
    img {
      margin: 0 auto;
    }
    margin-bottom: 3rem;
  }
  &-title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(30 / 18);
    margin-bottom: 3rem;
  }
  &-feature {
    @include flexBox(center);
    gap: 2rem;
    margin-bottom: 5rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &-img {
      @include size(2.4rem);
    }
    &-text {
      font-size: 1.4rem;
    }
  }
  &-price {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: calc(30 / 25);
    color: $text-color;
    margin-bottom: 2rem;
    &-number {
      font-weight: 500;
      color: $title-color;
    }
  }
  @include maxWidth(1279px) {
    padding-bottom: 9rem;
    &-content {
      // padding-left: 0;
      // padding-right: 0;
      gap: 3rem;
    }
    &-item {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
  @include maxWidth(1023px) {
    padding-top: 0;
    &-content {
      overflow-x: auto;
      flex-wrap: nowrap;
      scroll-snap-type: x mandatory;

      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-item {
      padding-left: 10rem;
      padding-right: 10rem;
      scroll-snap-align: center;
      scroll-snap-stop: always;
    }
  }
  @include maxWidth(767px) {
    padding-bottom: 5rem;
    &-content {
      padding-left: 0;
      gap: 3rem;
    }
    &-item {
      padding: 5rem;
    }
    &-feature {
      &:last-child {
        margin-bottom: 3rem;
      }
    }
  }
}
