html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  color: #4F5665;
  background-color: white; }

a {
  color: inherit;
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

input,
button {
  font-family: "Rubik", sans-serif;
  color: #4F5665; }

button {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0B132A;
  font-weight: bold; }

.block-box {
  text-align: center;
  max-width: 555px;
  margin: 0 auto; }

.block-title {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: calc(50 / 35);
  margin-bottom: 2rem;
  text-transform: capitalize;
  max-width: 38.3rem;
  margin-left: auto;
  margin-right: auto; }

.block-desc {
  margin-bottom: 6rem;
  line-height: calc(30 / 16); }

@media screen and (max-width: 767px) {
  .block-title {
    font-size: 2.4rem; } }

.btn.btn--primary {
  font-size: 1.6rem;
  color: #F53855;
  font-weight: 500;
  padding: 1.3rem 4.5rem;
  border: 1px solid #F53855;
  border-radius: 9999px;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  .btn.btn--primary:hover {
    background-color: #F53838;
    border-color: #F53838;
    color: white; }

.btn.btn--secondary {
  padding-left: 6.3rem;
  padding-right: 6.3rem;
  border: 2px solid #F53838;
  color: #F53838;
  font-weight: 700; }

.btn.btn--third {
  background-color: #F53838;
  color: white;
  padding: 1.8rem 7.8rem;
  border-radius: 10px;
  border: 0;
  text-transform: capitalize;
  font-weight: 700;
  -webkit-box-shadow: 0 30px 54px -5px rgba(245, 56, 56, 0.35);
  box-shadow: 0 30px 54px -5px rgba(245, 56, 56, 0.35); }

section, footer {
  display: none; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  padding-top: 4.5rem; }
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .header-menu-item {
    -webkit-transition: color 0.25s linear;
    transition: color 0.25s linear; }
  .header-menu-item:hover {
    color: #F53855; }
  .header-signIn {
    color: #0B132A;
    font-weight: 500;
    margin-right: 3rem;
    -webkit-transition: color 0.25s linear;
    transition: color 0.25s linear;
    margin-left: 15rem; }
    .header-signIn:hover {
      color: #F53855; }
  .header-signUp {
    font-size: 1.6rem;
    color: #F53855;
    font-weight: 500;
    padding: 1.3rem 4.5rem;
    border: 1px solid #F53855;
    border-radius: 9999px;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    .header-signUp:hover {
      background-color: #F53855;
      color: white; }
  .header-toggle {
    display: none;
    font-size: 2.6rem;
    color: #F53838; }
  @media screen and (max-width: 1279px) {
    .header-signIn {
      margin-left: 8rem; } }
  @media screen and (max-width: 1023px) {
    .header-list {
      height: 100%;
      width: 80%;
      background-color: white;
      z-index: 10;
      position: fixed;
      top: 0;
      right: 0;
      padding: 2rem 2.5rem;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: -webkit-transform 0.25s linear;
      transition: -webkit-transform 0.25s linear;
      transition: transform 0.25s linear;
      transition: transform 0.25s linear, -webkit-transform 0.25s linear; }
      .header-list.is-expand {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-box-shadow: 0px 3px 20px rgba(245, 56, 56, 0.8);
        box-shadow: 0px 3px 20px rgba(245, 56, 56, 0.8); }
    .header-menu-item {
      margin-bottom: 1.5rem;
      padding: 2rem 2.5rem;
      border-radius: 1rem; }
      .header-menu-item:hover {
        background-color: #F53838;
        color: white; }
    .header-buttons {
      margin-left: 2.5rem; }
    .header-signIn {
      margin: 0 0 3rem 0;
      display: block; }
    .header-toggle {
      display: block; } }
  @media screen and (min-width: 1024px) {
    .header-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .header-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .header-menu-item:not(:last-child) {
        margin-right: 4rem; } }

.banner {
  display: block;
  padding: 9rem 0 12.7rem; }
  .banner-title {
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.4;
    color: #0B132A;
    margin-bottom: 2rem; }
    .banner-title span {
      font-weight: 700; }
  .banner-desc {
    line-height: 2;
    margin-bottom: 5rem; }
    .banner-desc span {
      font-weight: 500; }
  @media screen and (min-width: 1024px) {
    .banner-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      position: relative; }
    .banner-content {
      width: 100%;
      max-width: 555px; } }
  @media screen and (min-width: 1440px) {
    .banner-img {
      position: absolute;
      right: 0%;
      top: 50%;
      -webkit-transform: translate(6.7rem, -50%);
      transform: translate(6.7rem, -50%); } }
  @media screen and (max-width: 1439px) {
    .banner {
      padding-bottom: 9rem; } }
  @media screen and (max-width: 1279px) {
    .banner-content {
      max-width: 47rem; }
    .banner-title {
      font-size: 4rem; }
    .banner-img {
      max-width: 50rem; } }
  @media screen and (max-width: 1023px) {
    .banner-content {
      max-width: 100%;
      text-align: center;
      margin-bottom: 7rem; }
    .banner-img {
      max-width: 100%;
      margin: 0 auto; } }
  @media screen and (max-width: 767px) {
    .banner {
      padding: 5rem 0; }
      .banner-title {
        font-size: 2.4rem; }
      .banner-desc {
        margin-bottom: 4rem; } }

.about {
  display: block;
  padding-bottom: 9.5rem; }
  .about-container {
    min-height: 20rem;
    padding: 3.7rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[3];
    grid-template-columns: repeat(3, minmax(0, 1fr));
    -webkit-box-shadow: 0 42px 114px -35px rgba(13, 16, 37, 0.06);
    box-shadow: 0 42px 114px -35px rgba(13, 16, 37, 0.06); }
  .about-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 0 3.6rem; }
    .about-item:nth-child(2) {
      border-left: 2px solid #eeeff2;
      border-right: 2px solid #eeeff2; }
    .about-item-left {
      width: 5.5rem;
      height: 5.5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      color: #F53838;
      position: relative; }
      .about-item-left::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: currentColor;
        z-index: -1;
        opacity: 0.2;
        border-radius: 50%; }
  .about-number {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0B132A;
    margin-bottom: 0.5rem; }
  .about-content {
    font-size: 2rem; }
  @media screen and (max-width: 767px) {
    .about {
      padding-bottom: 5rem; }
      .about-container {
        display: block;
        padding: 0; }
      .about-item {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start; }
        .about-item:not(:last-child) {
          margin-bottom: 3rem; } }

.feature {
  display: block;
  margin-bottom: 13rem; }
  .feature-container {
    padding-left: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 17rem; }
  .feature-img {
    width: 100%;
    max-width: 508px; }
  .feature-title {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: calc(50 / 35);
    margin-bottom: 2rem; }
  .feature-desc {
    line-height: calc(30 / 16);
    margin-bottom: 2rem; }
  .feature-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 0 1rem; }
    .feature-item:not(:last-child) {
      margin-bottom: 1.5rem; }
    .feature-item img {
      width: 2.4rem;
      height: 2.4rem; }
  .feature-text {
    font-size: 1.4rem; }
  @media screen and (max-width: 1279px) {
    .feature-container {
      gap: 5rem; } }
  @media screen and (max-width: 1023px) {
    .feature {
      margin-bottom: 9rem; }
      .feature-container {
        display: block;
        padding-left: 0; }
      .feature-img {
        margin: 0 auto 3rem; } }
  @media screen and (max-width: 767px) {
    .feature {
      margin-bottom: 5rem; }
      .feature-title {
        font-size: 2.4rem; } }

.plan {
  display: block;
  padding: 8rem 0 15rem; }
  .plan-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 0 5rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 2.5rem; }
  .plan-item {
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    text-align: center;
    padding: 8rem 7rem 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
    .plan-item:hover {
      border-color: #F53838; }
  .plan-img {
    margin-bottom: 3rem; }
    .plan-img img {
      margin: 0 auto; }
  .plan-title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(30 / 18);
    margin-bottom: 3rem; }
  .plan-feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 2rem;
    margin-bottom: 5rem; }
    .plan-feature:not(:last-child) {
      margin-bottom: 1rem; }
    .plan-feature-img {
      width: 2.4rem;
      height: 2.4rem; }
    .plan-feature-text {
      font-size: 1.4rem; }
  .plan-price {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: calc(30 / 25);
    color: #4F5665;
    margin-bottom: 2rem; }
    .plan-price-number {
      font-weight: 500;
      color: #0B132A; }
  @media screen and (max-width: 1279px) {
    .plan {
      padding-bottom: 9rem; }
      .plan-content {
        gap: 3rem; }
      .plan-item {
        padding-left: 5rem;
        padding-right: 5rem; } }
  @media screen and (max-width: 1023px) {
    .plan {
      padding-top: 0; }
      .plan-content {
        overflow-x: auto;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;
        scrollbar-width: none; }
        .plan-content::-webkit-scrollbar {
          display: none; }
      .plan-item {
        padding-left: 10rem;
        padding-right: 10rem;
        scroll-snap-align: center;
        scroll-snap-stop: always; } }
  @media screen and (max-width: 767px) {
    .plan {
      padding-bottom: 5rem; }
      .plan-content {
        padding-left: 0;
        gap: 3rem; }
      .plan-item {
        padding: 5rem; }
      .plan-feature:last-child {
        margin-bottom: 3rem; } }

.network {
  display: block;
  padding-bottom: 3.6rem; }
  .network-content {
    margin-top: 15.5rem; }
    .network-content img {
      margin: 0 auto; }
  @media screen and (max-width: 1023px) {
    .network-content {
      margin-top: 9rem; } }
  @media screen and (max-width: 767px) {
    .network-content {
      margin-top: 5rem; } }

.partner {
  display: block;
  padding-bottom: 5rem; }
  .partner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  @media screen and (max-width: 1279px) {
    .partner-container {
      gap: 5rem;
      overflow-x: auto;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      -ms-overflow-style: none;
      scrollbar-width: none; }
      .partner-container::-webkit-scrollbar {
        display: none; }
      .partner-container img {
        scroll-snap-align: start;
        scroll-snap-stop: always; } }
  @media screen and (max-width: 767px) {
    .partner {
      padding-bottom: 0; } }

.customer {
  display: block;
  padding-bottom: 6.5rem; }
  .customer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 5rem;
    margin-bottom: 8.3rem;
    position: relative; }
  .customer-item {
    padding: 3rem;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-box-sizing: 0 70px 114px -40px rgba(13, 16, 37, 0.06);
    box-sizing: 0 70px 114px -40px rgba(13, 16, 37, 0.06);
    margin-right: 5rem; }
    .customer-item:hover {
      border-color: #F53838; }
    .customer-item-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin-bottom: 2rem; }
  .customer-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 21px; }
  .customer-name {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 5px; }
  .customer-country {
    font-size: 1.4rem; }
  .customer-rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 10px; }
    .customer-rate-number {
      color: #0B132A; }
  .customer-comment {
    line-height: calc((30 / 16));
    color: #0B132A; }
  .customer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .customer-indicators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 15px; }
    .customer-indicators-item {
      width: 1.5rem;
      height: 1.5rem;
      background-color: #dde0e4;
      border-radius: 999px;
      cursor: pointer; }
      .customer-indicators-item.active {
        width: 45px;
        background-color: #F53838; }
  .customer-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 20px; }
    .customer-control-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      border: 1px solid #F53838;
      color: #F53838;
      font-size: 3rem;
      -webkit-transition: all 0.25s;
      transition: all 0.25s; }
      .customer-control-item:hover {
        color: white;
        background-color: #F53838; }
  .customer-list {
    display: block; }
  @media screen and (max-width: 767px) {
    .customer {
      padding-bottom: 5rem; }
      .customer-list {
        margin-bottom: 0; }
      .customer-item {
        margin-right: 3rem; } }
  @media screen and (max-width: 374px) {
    .customer-item {
      padding: 2rem;
      margin-right: 2rem; }
    .customer-name {
      font-size: 1.4rem; }
    .customer-country {
      font-size: 1.2rem; }
    .customer-rate-number {
      font-size: 1.2rem; } }

.slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid #F53838;
  color: #F53838;
  font-size: 3rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  content: none;
  position: absolute;
  bottom: -12rem; }
  .slick-arrow:hover {
    color: white;
    background-color: #F53838; }

.slick-next {
  right: 4.2rem; }

.slick-prev {
  right: 12.2rem; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 15px;
  position: absolute;
  bottom: -9.75rem;
  left: 0; }
  .slick-dots li {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #dde0e4;
    border-radius: 999px;
    cursor: pointer; }
    .slick-dots li.slick-active {
      width: 45px;
      background-color: #F53838; }

.subcribe {
  display: block;
  margin-bottom: -116px; }
  .subcribe-container {
    padding: 5.8rem 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-shadow: 0 34px 114px -30px rgba(13, 16, 37, 0.06);
    box-shadow: 0 34px 114px -30px rgba(13, 16, 37, 0.06); }
  .subcribe-content {
    max-width: 37rem; }
  .subcribe-title {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: calc(45 / 35);
    margin-bottom: 2rem; }
  @media screen and (max-width: 1023px) {
    .subcribe-container {
      display: block; }
    .subcribe-content {
      margin-bottom: 3rem; } }
  @media screen and (max-width: 767px) {
    .subcribe-container {
      padding: 0; }
    .subcribe-title {
      font-size: 2.4rem; }
    .subcribe-btn.btn {
      padding-left: 3.8rem;
      padding-right: 3.8rem; } }

.footer {
  display: block;
  background-color: #F8F8F8;
  padding-top: 18rem;
  padding-bottom: 10rem; }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 23rem; }
  .footer-left {
    max-width: 34rem; }
  .footer-logo {
    margin-bottom: 2rem; }
  .footer-desc {
    line-height: calc(30 / 16);
    margin-bottom: 3rem; }
    .footer-desc span {
      font-weight: 500; }
  .footer-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 2rem;
    margin-bottom: 3rem; }
    .footer-socials-link {
      display: inline-block;
      width: 3.4rem;
      height: 3.4rem;
      background-color: white;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      color: #F53838;
      -webkit-box-shadow: 0 10px 116px 0 #0B132A;
      box-shadow: 0 10px 116px 0 #0B132A;
      -webkit-transition: all 0.25s;
      transition: all 0.25s; }
      .footer-socials-link:hover {
        background-color: #F53838;
        color: white; }
  .footer-copyright {
    color: #AFB5C0; }
    .footer-copyright span {
      font-weight: 500; }
  .footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 126px; }
  .footer-title {
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 2rem; }
  .footer-item {
    margin-bottom: 1rem; }
  @media screen and (max-width: 1279px) {
    .footer-container {
      gap: 14rem; } }
  @media screen and (max-width: 1023px) {
    .footer-container {
      gap: 8rem; }
    .footer-left {
      max-width: 26rem; }
    .footer-right {
      gap: 7rem; } }
  @media screen and (max-width: 767px) {
    .footer {
      padding-bottom: 5rem; }
      .footer-container {
        display: block; }
      .footer-left {
        margin-bottom: 3rem;
        max-width: 100%; }
      .footer-right {
        gap: 3rem; }
      .footer-title {
        font-size: 1.4rem; }
      .footer-link {
        font-size: 1.2rem; } }
