extends layout/layout

block vars
	-title = 'LaslesVPN'
	-bodyClass = 'home-page'

block container
	include blocks/banner
	include blocks/about
	include blocks/feature
	include blocks/plan
	include blocks/network
	include blocks/customer
	include blocks/subcribe
	